body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

.page-container{
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
  flex-direction: row;
}

.app-name{
  color: white;
  font-size: larger;
  font-weight: unset;
  padding: 10px 0px 10px 10px;
  font-family: Gill Sans Extrabold, sans-serif;
}
.app-name-bold{
  color: white;
  font-size: larger;
  font-family: Gill Sans Extrabold, sans-serif;
  padding: 10px 10px 0 0;
}

.select-bar{
  display: flex;
  position: sticky;
  height: 47px;
  top: 0;
  z-index: 1000;
  align-items: center;
  background: #1a73e8;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.select-container{
  display:flex;
  float: right;
}

.select{
  height: 25px;
  width: 100px;
  margin: 5px;
  color: white;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,0.2);
}

.map-container{
  position: relative;
}

#map {
  display: flex;
  height: 608px;
  width: 100%;
}